/* Only for Samsung TV */

.title-flex {
    display: flex;
    flex-flow: wrap !important; 
    width: 100%;
  }
  
.title-flex img {
    margin-top: 10px;
    padding: 0 20px;
}

.form {
    width: 400px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    margin-left: 40%;
    border: 1px solid green;
    border-radius: 5px;
    background-image: linear-gradient(to right, RGB(15, 253, 2), RGB(255, 255, 255));
}

.hasError {
    border: 1px solid red;
}

.input {
    width: 150px;
    margin-left: 120px;
}

.send {
    margin-bottom: 20px;
    width: 80px;
    margin-left: 160px;
    font-size: 20px;
}

/* TABLE */

.bording-table a {
    text-decoration: none;
    color: black;
}
